<p><strong>Olá {{ student }}</strong></p>

<p>Sua pergunta nos pedidos de auxílio foi respondida. Confira:
<br />
<strong>Pergunta: </strong> {{ question }} <br />
<strong>Resposta: </strong> {{ answer }} <br />
<small>Data da resposta: {{ answer_at }}</small>
</p>
