<strong>Olá, {{ student }}</strong>
<p>Seja bem vindo à GymPoint!</p>
<p>
  Sua matrícula na GymPoint foi realizada, confira os dados:<br />
  <strong>Plano: </strong> {{ plan }}<br />
  <strong>Data de término: </strong> {{ end_date }}<br />
  <strong>Valor total: </strong> {{ price }}
</p>
